body {
  background-color: rgb(227, 250, 233);
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0.5em;
  margin-left: auto;
  margin-right: auto
}

header a {
  flex: 1;
  border: 1px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

header h1 {
  flex: 4;
  margin-right: auto;
  color: rgb(28, 95, 7);
  font-size: 3rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

#navigation {
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 144, 58);
  text-align: left;
}

#navigation a {
  margin: 10px;
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  max-width: 960px;
  flex: 1;
}

#navigation a:hover {
  color: rgb(28, 95, 7);
}

header, #navigation {
  display: flex;

}

.title {
  font-size: 2.5rem;
  padding-left: 10%; 
  padding-right: 10%;   
  
  max-width: 960px;
}

#list {
  max-width: 960px;
}

#list li {
  font-size: 1.2rem;
  margin: 0.2em;
}

#list :any-link {
  color: rgb(22, 78, 5);
  text-decoration: none;
}

#list a:hover {
  color: rgb(76, 179, 72);
  text-decoration: none;
}

#tab_form {
  display: flex;
  flex-direction: column;
}

#tab {
  order: 2;
}

#form {
  order: 1;
}

table {
  width: 30em;
  height: 10em;
  margin-left: 3%;
  margin-right: 3%;
  border-collapse: collapse;
  border: 0.05em solid grey;
  text-align: center;
  max-width: 960px;
  font-size: 1.2rem;
}

th {
  /* заголовок каждого столбца */
  border: 0.05em solid grey;
}

td {
  /* ячейки тела таблицы */
  border: 0.05em dashed grey;
  height: 3em;
}

tr.a {
  /*нечётные строки*/
  background: rgba(86, 187, 82, 0.322);
}

tr.b {
  /*чётные строки*/
  background: rgba(86, 187, 82, 0.63);
}

.img {
  margin: 1em;
  margin-bottom: 0;
}

form {
  padding-left: 3%;
  padding-right: 3%;
  max-width: 960px;
  font-size: 1.2rem;
}

footer {
  margin-top: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
  header {
    max-width: 960px;
  }

  header a {  
    margin-left: 10%;
    margin-right: 10%;
  }

  #navigation {
    flex-direction: initial;
    max-width: 960px;
    padding: 0.4em;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }
  #navigation a {
    flex: 1;
    margin: 10px;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    max-width: 960px;
  }

  .title {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  #list {
    margin-left: 10%;
    margin-right: 10%;
  }

  table {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    padding-left: 10%;
    padding-right: 10%;
  }
}